Repository sahilkhatiwada/react-animated-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, feature, bug, test

.github/labeler.yml:

documentation:
  - 'README.md'
  - '**/*.md'
  - '.github/**'

ci:
  - '.github/workflows/**'
  - 'jest.config.js'
  - '.eslintrc.json'
  - '.releaserc.json'

feature:
  - 'src/components/**'
  - '**/feature*'

bug:
  - '**/bug*'
  - '**/fix*'

test:
  - '**/*.spec.tsx'
  - '**/*.test.tsx'

ci: add auto-merge for dependabot, stale issue management, PR merge notifications; docs: update repo link in README
  .github/workflows/auto-merge.yml
  .github/workflows/notify.yml
  .github/workflows/stale.yml
  README.md
Labels: documentation, ci

fix: parse string props for array/object support in web components and improve test robustness
  .gitignore
  .npmignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  package-lock.json
  package.json
Labels: none

fix: parse stringified array props in all chart web components for robust HTML and test support
  coverage/clover.xml
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  src/components/area-chart/area-chart.tsx
  src/components/bar-chart/bar-chart.tsx
  src/components/donut-chart/donut-chart.tsx
  src/components/line-chart/line-chart.tsx
Labels: feature

test: import h from @stencil/core in tests to enable JSX/TSX templates
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov.info
  src/components/area-chart/area-chart.spec.tsx
  src/components/bar-chart/bar-chart.spec.tsx
  src/components/donut-chart/donut-chart.spec.tsx
  src/components/line-chart/line-chart.spec.tsx
Labels: feature, test

test: import h from @stencil/core in all chart component tests for JSX support
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov.info
  src/components/area-chart/area-chart.spec.tsx
  src/components/bar-chart/bar-chart.spec.tsx
  src/components/donut-chart/donut-chart.spec.tsx
  src/components/line-chart/line-chart.spec.tsx
Labels: feature, test

test(debug): add console logging to BarChart render for test debugging
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov.info
  src/components/bar-chart/bar-chart.tsx
Labels: feature

test: update BarChart tests to query shadow DOM for Stencil component rendering
  src/components/bar-chart/bar-chart.spec.tsx
Labels: feature, test

test: update all chart tests to query shadow DOM for Stencil component rendering
  coverage/clover.xml
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  src/components/area-chart/area-chart.spec.tsx
  src/components/donut-chart/donut-chart.spec.tsx
  src/components/line-chart/line-chart.spec.tsx
Labels: feature, test

test: relax style and slot checks, skip unsupported tests for robust CI in BarChart
  src/components/bar-chart/bar-chart.spec.tsx
Labels: feature, test

test: relax style and slot checks, skip unsupported tests for robust CI in all chart components
  src/components/area-chart/area-chart.spec.tsx
  src/components/donut-chart/donut-chart.spec.tsx
  src/components/line-chart/line-chart.spec.tsx
Labels: feature, test

test: run all chart tests with defensive checks, no skips for full coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov.info
  src/components/area-chart/area-chart.spec.tsx
  src/components/bar-chart/bar-chart.spec.tsx
  src/components/donut-chart/donut-chart.spec.tsx
  src/components/line-chart/line-chart.spec.tsx
Labels: feature, test

test: run all chart tests with defensive checks, no skips; 15 passing, 5 failing for full coverage
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov.info
Labels: none

test: mock slot content for tooltip tests and disable shadow DOM for all chart components
  coverage/clover.xml
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  src/components/area-chart/area-chart.spec.tsx
  src/components/bar-chart/bar-chart.spec.tsx
  src/components/donut-chart/donut-chart.spec.tsx
  src/components/line-chart/line-chart.spec.tsx
Labels: feature, test

fix(bar-chart): add missing title prop to support chart title rendering and pass tests
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/area-chart/area-chart.css.html
  coverage/lcov-report/area-chart/area-chart.tsx.html
  coverage/lcov-report/area-chart/index.html
  coverage/lcov-report/bar-chart/bar-chart.css.html
  coverage/lcov-report/bar-chart/bar-chart.tsx.html
  coverage/lcov-report/bar-chart/index.html
  coverage/lcov-report/donut-chart/donut-chart.css.html
  coverage/lcov-report/donut-chart/donut-chart.tsx.html
  coverage/lcov-report/donut-chart/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/line-chart/index.html
  coverage/lcov-report/line-chart/line-chart.css.html
  coverage/lcov-report/line-chart/line-chart.tsx.html
  coverage/lcov.info
  src/components/bar-chart/bar-chart.tsx
Labels: feature

docs(readme): add GitHub repository URL to all usage and community sections for clarity
  README.md
Labels: documentation

removed link from readme
  README.md
Labels: documentation

versionUpdated
  package.json
Labels: none

mention author name
  package.json
Labels: none
